[[extend 'layout.html']]

<div class="section">
   <!-- Put the table here -->
   <h1 class = "title">[[=name_string]]</h1>
   <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Phone</th>
        <th>Kind</th>
        <th></th>
        <th></th>
          <th></th>
      </tr>
      [[for row in rows2:]]
      <tr>
        <td>[[=row.phone_number]]</td>
        <td>[[=row.phone_name]]</td>
        <td>
          <a class="button is-warning" href="[[=URL('edit_phone_numbers', contact_id, row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
          </a>
          <a class="button is-danger" href="[[=URL('delete_phone', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </td>

      </tr>
      [[pass]]
    </table>

       <a class = "button is-success" href="[[=URL('back')]]">
      <span class = "icon"><i class = "fa fa-backward"></i></span>
      <span>Back</span>
    </a>
     <a class = "button is-primary" href="[[=URL('add_phone', contact_id)]]">
      <span class = "icon"><i class = "fa fa-plus"></i></span>
      <span>Add Phone Number</span>
    </a>

</div>
