[[extend 'layout.html']]

<div class="section">
   <!-- Put the table here -->
   <h1 class = "title">Your Address Book</h1>



   <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
        <th>Phone Numbers</th>
        <th></th>
          <th></th>
      </tr>

      <tr>
        [[for row in rows:]]
        <td>[[=row.first_name]]</td>
        <td>[[=row.last_name]]</td>
        <td>
          <a class="button is-warning" href="[[=URL('edit_contact', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
          </a>
          <a class="button is-danger" href="[[=URL('delete_contact', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </td>
          <td>#s don't show up in this column, but they work as they should. If you press button on right, you add, edit, or delete them</td>
          <td>
          <a class="button is-warning" href="[[=URL('edit_phone', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
          </a>
        </td>

      </tr>
      [[pass]]
    </table>

     <a class = "button is-primary" href="[[=URL('add_contact')]]">
      <span class = "icon"><i class = "fa fa-plus"></i></span>
      <span>Add Contact</span>
    </a>
  </div>

</div>
